html {
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    padding-bottom: 40px;
    font-size: 1rem;
    line-height: 22px;
    color: #323336;
}

footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: grey;
}

content {
    padding-top: 4rem;
    padding-bottom: 4rem; 
    line-height: 200%;    
}

content .header{
    color: grey;
    font-weight: 200;
}

.splash-images{
    width: 70% !important;
    min-width: 720px !important;
}

@media only screen and (max-width: 550px) {
    .splash-images{
        width: 100% !important;
        min-width: 100% !important;
    }
}